*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background--body: #9da482;
    --color--text: #232914;
    --color--highlights: #5c644e;
    --color--boxes: #aabeab;
    --extra--color:#879884;
}

html{
    /* 1 REM IS NU 10 PX */
    font-size: 62.5%;
}

.dashboard{
    border: 3rem solid var(--color--highlights);
}

.header{
    display: flex;
    align-items: center;
}
    
.header > img {
    height: 16rem;
    width: 16rem;
    margin: 2rem;
}

.header h1{
    font-size: 8rem;
    font-weight: 400;
} 

.content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.box{
    border: 0.5rem solid rgba(0, 0, 0, 0.8);
    font-size: 3rem;
    text-align: center;
    height: 34rem;
    margin: 2rem;
    border-radius: 1rem;
    max-width: 60rem;
}

@media only screen and (max-width: 120rem){

    .content{
        grid-template-columns: auto auto;
    }

}

@media only screen and (max-width: 80rem){

    .content{
        grid-template-columns: auto;
    }

}

