*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* 1 REM IS NU 10 PX */
    font-size: 62.5%;
}

:root{
    --background--body: #FCF6F0;
    --color--text: #000;
    --color--highlights: #a2b29f;
    --color--boxes: #000;
    --color--border: #798777;

    --extra--color: #BDD2B6;
}

.dashboard{
    border: 3rem solid #798777;
}

.header{
    display: flex;
    align-items: center;
}
    
.header > img {
    height: 16rem;
    width: 16rem;
    margin: 2rem;
}

.header> h1{
    font-size: 8rem;
    font-weight: 400;
} 

.content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.box{
    border: 0.5rem solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    height: 34rem;
    margin: 2rem;
    border-radius: 1rem;
    max-width: 60rem;
}

@media only screen and (max-width: 1200px){
    
    .content{
        grid-template-columns: auto auto;
    }

}

@media only screen and (max-width: 800px){

    .content{
        grid-template-columns: auto;
    }

}